.error_modal_container {
    position: fixed;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.error_modal {
    position: relative;
    width: 300px;
    background-color: rgb(232, 189, 232);
    padding: 10px;
    margin: 5px;
}

.error_modal div {
    position: absolute;
    top: -4px;
    right: 3px;
    font-size: 25px;
    font-weight: 600;
}

.error_modal p{
    font-size: 18px;
    font-weight: 600;
}

.error_modal div:hover {
    cursor: pointer;
}